#contato{
  background-image: url(/assets/images/background-contato.webp);
 
}
.contatoContainer {
 margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #808080;
  border-radius: 5px;
  background-color: #f9f9f9;
}

#contato button[type="submit"] {
  background-color: #7014bb;
  color: #ffffff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;

}

#contato button[type="submit"]:hover {
  background-color: #270742;
  color: #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease;
}