#sobre {
    margin-bottom: 50px;
}

#sobre hr {
    display: flex;
    justify-self: center;
    width: 700px;
    margin-top: 30px;
    background-color: #5d3a9b;
    border: solid 1px #5d3a9b;
    border-radius: 90px;
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    -ms-border-radius: 90px;
    -o-border-radius: 90px;
}

.sobreContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    /* font-family: ; */
}

.sobreOutdoor{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 32px 40px;
    max-width: 1200px;
}


.logoEmpresa img{
    width: 480px;
    height: 80%;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.sobreOutdoor p {
    margin-top: 5px;
    font-size: 600;
    margin-bottom: 10px;
    text-align: justify;
}

.sobreOutdoor h2 {
    color: #5d3a9b;
    text-align: center;
}
