* {
    width: 100%;
    padding: 2px;
}

.sobreContainer{
    display: flex;
    flex-direction: row;
    padding: 32px 40px;
    gap: 48px;
    max-width: 1200px;
    margin: 0 auto;

}

p {
    margin-top: 5px;
    font-size: 600;
    margin-bottom: 10px;
    text-align: justify;
}

h3 {
    margin-top: 20px;
    color: #5d3a9b;
    text-align: center;
    font-size: 30px;
}

h2 {
    color: #5d3a9b;
    text-align: center;
}

.logoEmpresa img{
    width: 105%;
    height: 80%;
}