var {
  corPrimaria: #5d3a9b; 
  corSecundaria: #fff; 
  corTerciaria: #1e172cd3;  
  corTexto: #333333;  
  corFundo: #f9f9f9; 
  corBorda: #E0E0E0;         

  tamanho-fonte-base: 16px;
  tamanho-fonte-titulo: 24px;
  tamanho-fonte-subtitulo: 20px;

  padding-container: 20px;

  altura-footer: 3px;
}
